@tailwind base;
@tailwind components;
@tailwind utilities;

.swipperMain .swiper-pagination {
  bottom: -30px !important;
  padding-bottom: 30px !important;
}
.swipperMain span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #25cbd4 !important ;
}
.swipperMain span.swiper-pagination-bullet {
  width: 9px !important;
  height: 9px !important;
  transform: scale(1) !important;
  background-color: #f2f2f2 !important;
  opacity: 1 !important;
}

@media only screen and (max-width: 768px) {
  .swipperMain .swiper-pagination {
    display: none;
  }
}

.select_custom__control {
  border-radius: 50px !important;
  padding: 10px;
  cursor: pointer !important;
}

.rdt_TableCol_Sortable {
  font-size: 16px;
  font-weight: 600;
}
.rdt_TableHeader .sc-eJgwjL{
  height: 20px; 
  font-size: 14px;
}

.loader {
  border: 7px solid #a0a0a0;
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




.b__Add .stdropdown-container {
  background: #fff;
  border-radius: 100px;
  border: 2px solid #e4e4e4;
  padding: 10px 4px;
  font-family: '__Inter_36bd41' !important;
}